<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abe:D</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/unselectable.css" />
  </head>

  <body>
    <div>
      <nav
        class="navbar"
        role="navigation"
        aria-label="main navigation"
        style="background-color:#fc9003;"
      >
        <div class="navbar-brand">
          <a
            role="button"
            data-target="nav-menu"
            class="navbar-burger burger"
            aria-label="menu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="nav-menu" style="background-color:#fc9003;">
          <div class="navbar-start">
            <a class="navbar-item" style="background-color:#a86d32 ;" href="/">
              <span class="icon is-medium ">
                <img src="/images/64x64blind.png" alt="home_icon"/>
              </span>
              <span style="color:white;">Home</span>
            </a>
            <a class="navbar-item" style="background-color:#a89d32 ;" href="/abe">
              <span class="icon is-medium ">
                <img src="/images/64x64blind.png" alt="home_icon"/>
              </span>
              <span style="color:white;">Abe's secret</span>
            </a>
          </div>
        </div>
      </nav>

      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-8 is-offset-2">
            <h3 class="title has-text-white">
              Welcome to the RaptureFarms website
            </h3>
            <div class="box">
              <img
                src="/images/thumb-1920-682420.jpg"
                width="80%"
                height="80%"
                id="uns"
                alt=""
              />
              <form method="POST" action="/notes">
                <div class="field">
                  <div class="control">
                    <textarea
                      class="textarea is-danger textarea is-medium textarea has-fixed-size"
                      name="note"
                      placeholder="Insert here your payload"
                    ></textarea>
                  </div>
                </div>
                <button
                  class="button is-block is-danger is-medium is-fullwidth"
                >
                  submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/utils.js"></script>
  </body>
</html>
